* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: white ;
    
}

@mixin fondoheader($bkgrepeat, $bkgsize, $bkgattachment, $height) {
    background-repeat: $bkgrepeat;
    background-size: $bkgsize;
    background-attachment: $bkgattachment;
    height: $height;
}

.sticky {
    position: fixed;
    width: 100%;
    height: 140px;
    top: 0px;
}

.headerfixed {
    @include fondoheader(no repeat, cover , fixed , 400px );
    background-image: url(../images/maxresdefault.jpg);
}

.cat_acc {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 60px;
}

/* CATÁLOGO */

.fondo_cat {
    @include fondoheader(no repeat, cover, fixed, 500px);
    background-image: url(../images/fondo_catálogo.jpg);
}

/* ACCESORIOS */

.fondo_acc {
    @include fondoheader(no repeat, cover, fixed, 600px);
    background-image: url(../images/fondo_acc.jpg);
}

/* TIENDAS */

.fondo_tiendas {
    @include fondoheader(no repeat, cover, fixed, 600px);
    background-image: url(../images/tiendas/giant_shops3.jpg);
}

/* CONTACTO */

.fondo_contacto {
    @include fondoheader(no repeat, cover, fixed, 600px);
    background-image: url(../images/Contacto/contacto.jpg);
}